<div class="container">
<div class="row">
            <div class="box">
                <div class="col-lg-12">
	<p>
<h2>Experience : </h2><br>
<p>
Worked as a System Administrator in "Alma Mater-The School", Maniram, Gorakhpur (Affiliated to CBSE, New Delhi) since July-2010 to Feb.2013.<br>

<a href="www.almamater.edu.in">www.almamater.edu.in</a><br>
<br>

Worked as a System Administrator - <br>Computer Section in "KIPM-College of Management", GIDA, Gorakhpur from May-2009 to July 2010.,<br>

<a href="www.kipm.edu.in">www.kipm.edu.in</a> <br>

<br>Worked as Head of Computer & IT - <br>Computer Administrative Department in " Hi-Tech Hospital & Healthcare Corporation Ltd.", Corporate Office : Barhalganj, Gorakhpur from August -2004 to April-2009. 
(Total Exp. of 04 Year & 09 Month)<br>

<a href="www.hitechsyringes.com">www.hitechsyringes.com</a><br>
</p>

<h2>Personal Profile :</h2><br>

 
<p>Father’s Name                  :     Mr. Anwarul Hasan Ansari</p>

<p>Date of Birth                   :     20th July 1984<p/>

<p>Marital Status                  :     Unmarried<p/>

<p>Languages Known                :     English, Hindi & Urdu.</p>

<p>Nationality                      :     Indian<p/>
 
 
<p>Please : Gorakhpur</p>
 <p>(Athar Mohammad Anwar)</p>
 


</div>
</div>
</div>
</div>
