<div class="container">
<div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">My
                        <strong>Profile</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="assets/mamu.jpg" alt="" >
                    <h2>COSMOS Computer
                        <br>
                        <small>All types of computer solutions</small>
                    </h2>
                    <p style="text-align:left;">
					<b>Computer Skills :</b> MS - Office Coral Draw Page-Maker In-Page Internet E.R.P.& Operate by Other Utility Software.</p>
                    <hr>
                    
                </div>
                <div class="col-lg-12 text-center">
                    <br>
                    
					<div style="text-align:left;">
					<h2>Professional Qualification :
                        <br>
                        <small>October 13, 2015</small>
                    </h2>
					<p>1. Pursuing Master of Computer Application (M.C.A.-V) from IGNOU centre at M.M.M. University of Technology, Gorakhpur.</p>
					<p>2. Bachelor of Computer Application (B.C.A.) from IGNOU centre at M.M.M. Engineering College, Gorakhpur in 2012.</p>
					<p>3. Diploma in Computer Application (D.C.A.) from DOEACC Centre, Chandigarh centre at Islamia College of Commerce, Gorakhpur in 2005.</p>
					<p>4. Diploma in Computer Hardware & Networking (DCH&N) from PRAGYA COMPUTER INSTITUTE, Barhalganj, Gorakhpur in 2006.</p>
					<p>5. Hindi-Typing from New Poorvancal Typewriting Institute, Gorakhpur in 2003.English & Urdu - Typing from Islamia College of Commerce, Gorakhpur in 2005. </p>
                     </div>
                </div>
                <div class="col-lg-12 text-center">
				
                    <div style="text-align:left;">
                    <h2>Additional Skills
                        <br>
                        <small>Designing and Finalization of the following :</small>
                    </h2>
                    <p>1. Designing of Product & packaging & its modifications.</p>
					<p>2. Employees’ Identity Cards</p>
					<p>3. Other designing as and when provided by the management.</p>
					</div>
					
                </div>
                <div class="col-lg-12 text-center">
                    <ul class="pager">
                        <li class="previous"><a href="/contact">&larr; Older</a>
                        </li>
                        <li class="next"><a href="/about">Newer &rarr;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</div>